<!DOCTYPE html>

<html lang="en">
    <head>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
   		<script type="text/javascript">
   		 function connect () {
                var source = new EventSource('/register');

				sugerencias = [];
				
                // Handle correct opening of connection
                source.addEventListener('open', function (e) {
                    console.log('Connected.');
                });
                
                // Update the state when ever a message is sent
                source.addEventListener('message', function (e) {
                	console.log("Message received");
                	console.log(e);
                	var sugerencias = JSON.parse(e.data);
                	//sugerencias = Object.keys(json_data).map(function (key) { return json_data[key]; });
                    console.log(sugerencias);
                    //console.log("New state positive: " + state.textPositivo);
                    //console.log("New state negative: " + state.textNegativo);
					drawChart(sugerencias);
                }, false);
                
                
			
                // Reconnect if the connection fails
                source.addEventListener('error', function (e) {
                    console.log('Disconnected.');
                    if (e.readyState == EventSource.CLOSED) {
                        connected = false;
                        connect();
                    }
                }, false);
   		}
   		  google.charts.load('current', {packages: ['corechart', 'bar']});
		  google.charts.setOnLoadCallback(drawChart);

function drawChart(sugerencias) {
     data = new google.visualization.DataTable();
     //document.getElementById('container').innerHtml = '';
     console.log(sugerencias);
     materialChart = new google.charts.Bar(document.getElementById('container'));
 
     data.addColumn('string','Sugerencias');
     data.addColumn('number','Votos positivos');
     data.addColumn('number','Votos negativos');
          
     var a=0;
     for(var i in sugerencias){
     	data.addRows([[sugerencias[a].nombre,sugerencias[a].votosP,sugerencias[a].votosN]]);
      	a++;
      }
      
      var materialOptions = {
        chart: {
          title: 'Sugerencias con sus votos (negativos y positivos)',
          subtitle: 'Based on most recent and previous data'
        },
        hAxis: {
          title: 'Total Population',
          minValue: 0,
        },
        vAxis: {
          title: 'City'
        },
        bars: 'horizontal'
      };
      materialChart.draw(data, materialOptions);
    
    }
   		  
   				
		
 
   				           
            
            //var source2 = new EventSource('/register2');

            // Handle correct opening of connection
           // source2.addEventListener('open', function (e) {
              //  console.log('Connected.');
            //});
            
            // Update the state when ever a message is sent
            //source2.addEventListener('message', function (e) {
            	//console.log("Message received");
             //   console.log(e);
           //     var state2 = JSON.parse(e.data);
                //changeNegativeVotes(state2.number);
         //       console.log("New state: " + state2.text);
        //        var element = document.getElementById("state2");
        //        element.innerHTML = state2.text;
        //    }, false);
       //     
       //     // Reconnect if the connection fails
       //     source2.addEventListener('error', function (e) {
       //         console.log('Disconnected.');
      //          if (e.readyState == EventSource.CLOSED) {
      //              connected = false;
      //              connect();
      //          }
     //       }, false);
     //   };
    //    </script>
</head>
<body onload ="connect();">
<div id="container" style="width: 550px; height: 400px; margin: 0 auto">
 <canvas id="Chart" width="300" height="300"></canvas>
</div>
</body>
</html>